{% layout none %}
<h1>CLI Themme</h1>
<div class="current_product_data" data-id="{{ product.selected_or_first_available_variant.id }}" data-price="{{ product.price }}"><img src="{{ product.metafields.custom.strap_customize_image.value | img_url: 'master' }}"></div>
